streamlit==1.10.0
tensorflow==2.1.0
protobuf
retina-face
retinaface
opencv-python
pyopengl
pyvirtualdisplay==2.2
Pillow
boto3
numpy>=1.19.2
six~=1.15.0
requires.io
PyQt5
DateTime
python-time
multiprocess
